

*,::after,::before{
  box-sizing: border-box;
}

:root{
  --color-200: #fde0e4;
  --color-400: #ffc0cb;
  --color-600: #b0153d;
  --color-800: #53142d;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-600);
  padding: 2rem;
}

main{
  background-color: #fff;
  max-width: 60rem;
  margin: 0 auto;
  padding: 2.5rem;
  border:2px solid var(--color-800);
  border-radius: 10px;
}


header {
  border-bottom: 3px solid var(--color-600);
  
  & span{
    background-color: var(--color-200);
    border: 1px solid var(--color-600);
    border-radius: 5px;
    padding: 0.25rem 0.75rem;
    font-weight: 800;
    font-size: 0.75rem;
    color: var(--color-600);
  }
}
h1, h2, h3{
  color: var(--color-600);
}

h2{
  border-bottom: 2px solid var(--color-600);
}

code{
  border: 1px solid var(--color-600);
  border-radius: 3px;
  color: var(--color-600);
  padding: 0.1rem;
  background-color: white;
}

.intro{
  margin-top: 2rem;
  border-left: 4px solid var(--color-600);
  background-color: var(--color-200);
  padding: 0.25rem 1rem;
}

p{ 
  text-wrap: pretty;
}


article{
  background-color: var(--color-200);
  border: 2px solid var(--color-600);
  border-radius: 7px;
  padding: 0.25rem 1rem;
  margin-bottom: 1rem;
  &:hover{
    filter: brightness(0.9);
  }
}

article:nth-child(2){
  filter:contrast(1.5)
}

pre{
  color: var(--color-200);
  background-color: var(--color-800);
  font-size: 0.95rem;
  padding: 1rem;
  text-wrap: balance;
}

footer{
  border-top: 2px solid var(--color-600);
  margin-top: 1.5rem;
  padding-block: 0.5rem;
  text-align: center;
}